<form id="new-member-form"
      class="form flex flex-col gap-4"
      novalidate
      hx-post="{% url "projects_update" pk=object.id %}"
      class="form"
      enctype="multipart/form-data"
      hx-target="#update-container"
      hx-swap="innerHTML" autocomplete="off"
>
    {% include "components/forms/non-field-errors.html" %}
    {% csrf_token %}

    {% with WIDGET_ERROR_CLASS='border-red-500 ring-red-500' %}
         <div class="grid grid-cols-1 sm:grid-cols-2 gap-4">
            {% include 'components/forms/field.html' with field=form.title css_classes="col-span-2" %}
            {% include 'components/forms/field.html' with field=form.description css_classes="col-span-2" %}
            {% include 'components/forms/field.html' with field=form.currency css_classes="col-span-1" %}
            {% include 'components/forms/field.html' with field=form.target_amount css_classes="col-span-1" %}
            {% include 'components/forms/field.html' with field=form.start_date css_classes="col-span-1" %}
            {% include 'components/forms/field.html' with field=form.end_date css_classes="col-span-1" %}
            {% include 'components/forms/field.html' with field=form.active css_classes="col-span-2" %}
            <div class="col-span-2">
                {{ form.church.as_hidden }}
            </div>
        </div>
    {% endwith %}
    {% include "components/forms/submit-button.html" %}
</form>


<script>
    $("select").selectize()
</script>