{% load static random_color %}
<div class="shadow-none px-0 py-2 pt-0 pb-4 flex flex-col-reverse md:flex-row gap-4 justify-between md:items-center">
    <div class="flex gap-4 items-center">
        
        {% if object.photo %}
            <img class="object-cover w-28 h-auto" src="{{ object.photo.url }}" alt="{{ object.name }} package photo">
            {% else %}
        	<div class="{% random_color %} h-12 w-12 min-w-12 rounded-full flex items-center justify-center text-white">
           {{ object.name | first | upper }}
        </div>
        {% endif %} 
        
        <div>
            <h1 class="text-large font-bold">{{ object.name }}</h1>
            <p class="text-small text-gray-500">
                <span class="text-ble-300 mr-2">#{{ object.ordinal }}</span>
            </p>
        </div>
    </div>
    <div class="flex items-center space-x-4">
        <a href="{% url "packages_list" %}" class="flex items-center text-blue-700 font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                <path d="M6 8L2 12L6 16"></path>
                <path d="M2 12H22"></path>
            </svg>
            <span class="ms-2">Back to Packages</span>
        </a>
    </div>
</div>
