{% extends "components/modal/form-modal.html" %}

{% load member_tags %}
{% block modal_body %}
    <div class="border-b border-gray-200 max-w-full mb-4">
        <ul class="flex flex-nowrap whitespace-nowrap max-w-full overflow-x-auto -mb-px text-sm font-medium text-center"
            id="new-beneficiary-tab"
            data-tabs-toggle="#new-beneficiary-tab-content" role="tablist">
            <li class="me-2" role="presentation">
                <button class="inline-block px-4 py-2 border-b-2 rounded-t-lg"
                        id="new-beneficiary-tab"
                        data-tabs-target="#new-beneficiary" type="button" role="tab" aria-controls="new-beneficiary"
                        aria-selected="false">
                    New Beneficiary
                </button>
            </li>
            <li class="me-2" role="presentation">
                <button class="inline-block px-4 py-2 border-b-2 rounded-t-lg hover:text-gray-600 hover:border-gray-300"
                        id="existing-beneficiary-tab" data-tabs-target="#existing-beneficiary" type="button" role="tab"
                        aria-controls="existing-beneficiary" aria-selected="false">
                    Existing Beneficiary
                </button>
            </li>
        </ul>
    </div>
    <div id="new-beneficiary-tab-content">
        <div class="hidden flex flex-grow" id="new-beneficiary" role="tabpanel"
             aria-labelledby="new-beneficiary-tab">
            New Beneficiary Tab
        </div>
        <div class="hidden flex flex-grow" id="existing-beneficiary" role="tabpanel"
             aria-labelledby="existing-beneficiary-tab">
            Existing Beneficiary Tab
        </div>
        {#        {% include "partials/app/members/beneficiaries-groups/edit/modals/benefit.form.html" with form=object|benefit_form:benefit %}#}
    </div>
{% endblock %}