*.pyc
*.DS_Store
*.egg*
/dist/
/.idea
/docs/_build/
/node_modules/
build/
env
/staticfiles/

#src
*.sqlite*

.env
package-lock.json
yarn.lock

mediafiles/


**/migrations/**
!**/migrations
!**/migrations/__init__.py

# Only for Development only
**/__pycache__/**
!**/__pycache__
!**/__pycache__/__init__.py

