{% if not object_list.count %}
    {% include "components/misc/empty-state.html" with title="No Fundraising project records yet" %}
{% else %}
    <table class="w-full">
        <thead class="text-xs font-bold text-gray-700 uppercase">
        <tr class="sticky top-0 bg-paper">
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Target Amount</th>
            <th scope="col">Raised Amount</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Active</th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        {% for project in object_list %}
            <tr class="bg-white border-b hover:bg-gray-50">
                <th scope="row">
                    <div class="flex flex-col text-left">
                  <span class="font-bold text-gray-900">
                    {{ project.title  | truncatechars:30| title }}
                  </span>
                    </div>
                </th>
                <td class="text-left">
                    {{ project.description | truncatechars:50| title }}
                </td>
                <td class="text-right">
                   {% spaceless %}{{ project.currency }}{{ project.target_amount | floatformat:"2g" }}{% endspaceless %}
                </td>
                <td class="text-right">
                   {% spaceless %}{{ project.currency }}{{ project.raised_amount | floatformat:"2g" }}{% endspaceless %}
                </td>
                <td class="text-right">
                   {% spaceless %}{{ project.start_date | date:"d, M, Y" }}{% endspaceless %}
                </td>
                <td class="text-right">
                   {% spaceless %}{{ project.end_date | date:"d, M, Y" }}{% endspaceless %}
                </td>
                <td class="text-center">
                    {% if project.active %}
                        <span class="h-4 w-4 inline-flex items-center justify-center rounded-full text-neutral-50 bg-green-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="w-3 h-3">
                            <path d="M21.801 10A10 10 0 1 1 17 3.335"></path>
                            <path d="m9 11 3 3L22 4"></path>
                        </svg>
                        </span>
                    {% else %}
                        <span class="h-4 w-4 inline-flex items-center rounded-full justify-center text-neutral-50 bg-red-500">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                             stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                             class="h-3 w-3">
                            <circle cx="12" cy="12" r="10"></circle>
                            <path d="m15 9-6 6"></path>
                            <path d="m9 9 6 6"></path>
                        </svg>
                        </span>

                    {% endif %}
                </td>
                <td>
                    <button data-dropdown-toggle="dropdownDots-{{ project.id }}"
                            class="inline-flex items-center p-2 text-sm font-medium text-center text-gray-900 hover:bg-gray-100 focus:ring-4 focus:outline-none dark:text-white focus:ring-gray-50"
                            type="button">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                             fill="currentColor" viewBox="0 0 4 15">
                            <path
                                    d="M3.5 1.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 6.041a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Zm0 5.959a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0Z"></path>
                        </svg>
                    </button>

                    <div id="dropdownDots-{{ project.id }}"
                         class="z-10 hidden bg-white divide-y divide-gray-100 shadow w-60">
                        <ul class="py-2 text-sm text-blue-700"
                            aria-labelledby="dropdownMenuIconButton">
                            <li>
                                <a href="{% url "projects_update" pk=project.id %}"
                                   class="flex items-center px-4 py-2 hover:bg-gray-100 gap-2">
                                    <svg class="w-4 h-4" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none"
                                         viewBox="0 0 24 24">
                                        <path stroke="currentColor" stroke-linecap="round"
                                              stroke-linejoin="round" stroke-width="2"
                                              d="m14.304 4.844 2.852 2.852M7 7H4a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-4.5m2.409-9.91a2.017 2.017 0 0 1 0 2.853l-6.844 6.844L8 14l.713-3.565 6.844-6.844a2.015 2.015 0 0 1 2.852 0Z"></path>
                                    </svg>
                                    <span class="font-bold">Update</span>
                                </a>
                            </li>
                            
                        </ul>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}
