{% extends "components/layouts/auth/base.html" %}
{% load static widget_tweaks %}
{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="p-6 py-0">
        <img src="{% static "assets/img/logos/grace-care-long.png" %}" class="h-8" alt="Flowbite Logo"/>

    </div>
    <div class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none lg:py4 dark:bg-gray-950 rounded-2xl bg-clip-border">
        <div class="p-6 pb-0 mb-0">
            <h4 class="font-bold">Password Reset</h4>
            <p class="mb-0">Enter your email to reset password</p>
        </div>
        {% with WIDGET_ERROR_CLASS='border-red-500' %}
            <div class="flex-auto p-6">
                <form novalidate role="form" method="post">
                    {% csrf_token %}
                    <div class="flex flex-col gap-4 mb-6">
                       {% include "components/forms/field.html" with field=form.email %}
                        
                    </div>

                    {% include "components/forms/simple-submit-button.html" %}
                </form>
            </div>
        {% endwith %}
        <div class="border-black/12.5 rounded-b-2xl border-t-0 border-solid text-center pt-0 px-1 sm:px-6">
            <p class="mx-auto mb-6 leading-normal text-sm">Remember password?
                <a href="{% url "login" %}"
                   class="font-semibold text-transparent bg-clip-text bg-gradient-to-tl from-blue-500 to-violet-500">
                    Sign in
                </a>
            </p>
        </div>
    </div>
   
{% endblock content %}