{% extends "components/layouts/auth/base.html" %}
{% load static widget_tweaks %}
{% block title %}Register{% endblock %}

{% block content %}
   <div class="p-6 py-0">
        <img src="{% static "assets/img/logos/grace-care-long.png" %}" class="h-8 mt-12 lg:mt-6" alt="Flowbite Logo"/>

        </div>
 {% with WIDGET_ERROR_CLASS='border-red-500' %}
        <div class="relative flex flex-col min-w-0 break-words bg-transparent border-0 shadow-none lg:py4 dark:bg-gray-950 rounded-2xl bg-clip-border">
            <div class="p-6 pb-0 mb-0">
                <h4 class="font-bold">Sign Up</h4>
                <p class="mb-0">Enter your email and password to sign up</p>
            </div>
            <div class="flex-auto p-4">
                <form novalidate role="form" method="post">
                    {% csrf_token %}
                    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-6">
                        {% include "components/forms/non-field-errors.html" with field=form.first_name %}
                        {% include "components/forms/field.html" with field=form.first_name %}
                        {% include "components/forms/field.html" with field=form.last_name %}
                        {% include "components/forms/field.html" with field=form.phone_number %}
                        {% include "components/forms/field.html" with field=form.email %}
                        {% include "components/forms/field.html" with field=form.assembly css_classes="col-span-1 sm:col-span-2"%}
                        {% include "components/forms/field.html" with field=form.password1 %}
                        {% include "components/forms/field.html" with field=form.password2 %}
                    </div>

                    {% include "components/forms/simple-submit-button.html" %}
                </form>
            </div>
            <div class="border-black/12.5 rounded-b-2xl border-t-0 border-solid p-6 text-center pt-0 px-1 sm:px-6">
                <p class="mx-auto mb-6 leading-normal text-sm">Already have an account? 
                    <a href="{% url "login" %}" class="font-semibold text-transparent bg-clip-text bg-gradient-to-tl from-blue-500 to-violet-500">
                       Sign in
                    </a>
                </p>
            </div>
        </div>
    {% endwith %}
   
{% endblock content %}

{% block styles %}
    {% include "layouts/plugins/jquery.html" %}
    {% include "layouts/plugins/selectize.html" %}
{% endblock %}
{% block scripts %}
    {% include "layouts/plugins/htmx.html" %}
    {% include "layouts/plugins/form-js.html" %}
    <script>
    $("select").selectize()
</script>
{% endblock %}