{% load static %}

<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="apple-touch-icon" sizes="76x76" href="{% static 'assets/img/apple-icon.png' %}"/>
<link rel="icon" type="image/png" href="{% static 'assets/img/favicon.png' %}"/>
{% if not debug %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
{% else %}
    <link type="text/css" href="{% static "assets/notyf/notyf.min.css" %}" rel="stylesheet">
{% endif %}
<link href="{% static 'assets/css/tailwind.css' %}?v=1.0.1" rel="stylesheet"/>
