{% load static random_color %}
<div class="shadow-none px-0 py-2 pt-0 pb-4 flex flex-col-reverse md:flex-row gap-4 justify-between md:items-center">
    <div class="flex gap-4 items-center">
        <span class="flex items-center justify-center rounded-md h-12 w-12 bg-blue-700">
                  
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="w-6 h-6 text-white/80 transition duration-75 group-hover:text-white">
                <rect width="20" height="12" x="2" y="6" rx="2"></rect>
                <circle cx="12" cy="12" r="2"></circle>
                <path d="M6 12h.01M18 12h.01"></path>
            </svg>
              </span>
        <div>
            <h1 class="text-large font-bold">Payment Method: {{ object.name | truncatechars:25 | title}}</h1>
            <p class="text-small text-gray-500">
                <span class="text-ble-300 mr-2">{{ object.church.name | title }}</span>
            </p>
        </div>
    </div>
    <div class="flex items-center space-x-4">
        <a href="{% url "methods_list" %}" class="flex items-center text-blue-700 font-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                 stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="h-4 w-4">
                <path d="M6 8L2 12L6 16"></path>
                <path d="M2 12H22"></path>
            </svg>
            <span class="ms-2">Back to Payment Methods</span>
        </a>
    </div>
</div>
