{% load static random_color %}
<nav class="bg-white border-gray-200 fixed z-[49] lg:left-60 top-0 right-0 left-0">
    <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto px-4 py-2">
        <button data-drawer-target="app-sidebar" data-drawer-toggle="app-sidebar" type="button"
                class="inline-flex items-center p-2 w-8 h-8 justify-center text-sm text-gray-500 rounded-lg lg:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600"
                aria-controls="app-sidebar" aria-expanded="false">
            <span class="sr-only">Open main menu</span>
            <svg class="w-4 h-4" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="M1 1h15M1 7h15M1 13h15"></path>
            </svg>
        </button>
        <a href="{% url "dashboard" %}" class="flex items-center space-x-3 rtl:space-x-reverse">
            {% if request.user.assembly.church.logo %}
                <img src="{{ request.user.assembly.church.logo.url }}" class="h-8" alt="Logo"/>
            {% else %}
                <img src="{% static "assets/img/logos/grace-care-long.png" %}" class="h-8" alt="Logo"/>

            {% endif %}
        </a>
        <div class="flex items-center md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
            <button type="button" class="flex text-sm bg-gray-800 rounded-full md:me-0 focus:ring-4 focus:ring-gray-300"
                    id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                    data-dropdown-placement="bottom">
                <span class="sr-only">Open user menu</span>
                {% if request.user.profilePhoto %}
                    <img class="w-8 h-8 rounded-full object-fill object-center"
                         src="{{ request.user.profilePhoto.url }}" alt="user photo">
                {% else %}
                    <div class="flex w-8 h-8 text-large rounded-full items-center justify-center text-white {% random_user_color %}">
                        {{ request.user.first_name | first }}
                    </div>
                {% endif %}
            </button>
            <!-- Dropdown menu -->
            <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 shadow"
                 id="user-dropdown">
                <div class="px-4 py-3 flex gap-2 items-center">
                    {% if request.user.profilePhoto %}
                    <img class="w-8 h-8 rounded-full object-fill object-center"
                         src="{{ request.user.profilePhoto.url }}" alt="user photo">
                {% else %}
                    <div class="flex w-8 h-8 text-large rounded-full items-center justify-center text-white {% random_user_color %}">
                        {{ request.user.first_name | first }}
                    </div>
                {% endif %}
                <div class="flex flex-col">
                    <span class="block text-sm text-gray-900">
                        {{ request.user.first_name }} {{ request.user.last_name }}
                    </span>
                    <span class="block text-sm  text-gray-500 truncate">
                        {{ request.user.email }}
                    </span>
                </div>
                    
                </div>
                <ul class="py-2" aria-labelledby="user-menu-button">
                    <li class="w-full">
                        <a href="{% url "dashboard" %}" class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100">Dashboard</a>
                    </li>
                    <li class="w-full">
                        <button type="button" class="block px-4 py-2 text-sm text-gray-700 w-full text-left hover:bg-gray-100">Settings</button>
                    </li>
                    <li class="w-full">
                        <button type="button" data-modal-target="logout-popup" data-modal-toggle="logout-popup" class="block w-full px-4 py-2 text-left text-sm text-gray-700 hover:bg-gray-100">Sign out</button>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</nav>

{% include "components/layouts/app/logout-popup.html" with  popup_id="logout-popup" %}

