{% load misc %}
<div class="hidden flex flex-grow" id="beneficiaries" role="tabpanel"
     aria-labelledby="beneficiaries-tab">
    <div class="flex items-center justify-center flex-col flex-grow max-w-full overflow-x-auto">
        <a href="{% url "beneficiaries_list" %}?beneficiary_group={{ object.id }}"
           class="flex items-center text-blue-500  gap-1 items-start">
            <span class="font-bold flex items-center gap-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                     stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                     class="h-4 w-4">
                    <circle cx="12" cy="12" r="10"></circle>
                    <path d="M16 8h-6a2 2 0 1 0 0 4h4a2 2 0 1 1 0 4H8"></path>
                    <path d="M12 18V6"></path>
                </svg>
                <span>View Beneficiaries:</span>
                </span>
            <div>
                {{ object.beneficiaries.count }}
            </div>
        </a>
    </div>
</div>
